<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
	<a class="nav-link active" id="stock_list_tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="stock_list" aria-selected="true">Склад</a>
	<a class="nav-link" id="sale_list_tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="sale_list" aria-selected="false">Журнал продаж</a>
	<a class="nav-link" id="sale_positon_list_tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="sale_positon_list" aria-selected="false">Позиции продаж</a>
	<a class="nav-link" id="bottle_list_tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="bottle_list" aria-selected="false">Бутылки</a>
	<a class="nav-link" id="entity_list_tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="entity_list" aria-selected="false">Пиво</a>
	<a class="nav-link" id="kind_list_tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="kind_list" aria-selected="false">Виды</a>
	<a class="nav-link" id="capacity_list_tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="capacity_list" aria-selected="false">Ёмкости</a>
	<a class="nav-link" id="picture_list_tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="picture_list" aria-selected="false">Фото</a>
	<a class="nav-link" id="trade_mark_list_tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="trade_mark_list" aria-selected="false">Производители</a>
</div>
<div class="tab-content" id="v-pills-tabContent">
	<div class="tab-pane fade show active" id="stock_list" role="tabpanel" aria-labelledby="stock_list_tab"></div>
	<div class="tab-pane fade" id="sale_list" role="tabpanel" aria-labelledby="sale_list_tab"></div>
	<div class="tab-pane fade" id="sale_positon_list" role="tabpanel" aria-labelledby="sale_positon_list_tab"></div>
	<div class="tab-pane fade" id="bottle_list" role="tabpanel" aria-labelledby="bottle_list_tab"></div>
	<div class="tab-pane fade" id="entity_list" role="tabpanel" aria-labelledby="entity_list_tab"></div>
	<div class="tab-pane fade" id="kind_list" role="tabpanel" aria-labelledby="kind_list_tab"></div>
	<div class="tab-pane fade" id="capacity_list" role="tabpanel" aria-labelledby="capacity_list_tab"></div>
	<div class="tab-pane fade" id="picture_list" role="tabpanel" aria-labelledby="picture_list_tab"></div>
	<div class="tab-pane fade" id="trade_mark_list" role="tabpanel" aria-labelledby="trade_mark_list_tab"></div>
</div>
